tensorflow==2.0.0a0
keras==2.2.4
numpy
scipy==1.2.1
wolframclient==1.0.2
h5py==2.9.0
pandas==0.24.2
pyttsx==1.1
nltk==3.4
opencv-python
Pillow
pymongo==3.8.0
tflearn==0.3.2
numba==0.43.1
seaborn==0.9.0
statsmodels==0.9.0
imutils==0.5.2
